################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/FortniteChecker/v15/Server/sqlite3
/.vs
/src/FortniteChecker/bin/Debug
/src/FortniteChecker/obj
/src/.vs
